html{
    font-family: 'Outfit', sans-serif;
    /* font-size: 12px; */
}
body{
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}

/* Section */
main {
    width: 225px;
    margin: 10rem auto;
    background-color: hsl(0, 0%, 100%);
    padding: 0.8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1.3rem hsl(210, 23%, 82%);
}

main img{
    width: 100%;
    border-radius: 0.5rem;
}

main .title{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    margin: 1rem 0 0 0;
    font-size: 17px;
    padding: 0 0.5rem;
    text-align: center;
}

main .content{
    color: hsl(220, 15%, 55%);
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 0.5rem;
    text-indent: 0.25rem;
    padding: 0 0.5rem;
    text-align: center;
}

